.home-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--major-scale-2);
}

.profile-container {
    flex-shrink: 0;
}

@media (max-width: 1000px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-container {
        margin-bottom: var(--major-scale-2);
        order: -1;
    }
}
