.home-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.profile-container {
    flex-shrink: 0;
}

@media (max-width: 1000px) {
    .home-container {
        flex-direction: column;
        align-items: center;
    }

    .home-text {
        max-width: 80%;
    }

    .profile-container {
        order: -1;
    }
}
